table.table
    tr
        th(ng-repeat="(key,value) in items[0]") {{key}}
    tr(ng-repeat="item in items | limitTo:1+(expand*100)")
        td(ng-repeat="(key,value) in item")
            span(ng-show="isString(value)") {{format(value,key)}}
            ul(ng-show="!isString(value)")
                li(ng-repeat="(k,v) in value")
                    span.bold {{k}}:&nbsp;
                    span {{format(v,k)}}