doctype(html)
html(ng-app="main")
    head
        link(rel='stylesheet', href='/static/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/static/font/font-awesome.css')
        link(rel='stylesheet', href='/static/styles.css')
        script(src='/socket.io/socket.io.js')
        script(src='/static/angular.min.js')
        script(src='/client.js')
    body
        div#main.container(ng-controller='main',ng-init="showServices=0; standalone=1")
            div.row-fluid(ng-hide="standalone")
                div.span12
                    div.service-container.topic-header.navbar(ng-hide="showServices", ng-click="showServices=true")
                        span.brand services
                        span
                            i.icon-chevron-down.icon-2x
                        div.span3.pull-right
                    div.service-container(ng-show="showServices")
                        div.row-fluid.topic-header.navbar
                            span.brand services
                            span(ng-show="showServices", ng-click="showServices=false")
                                i.icon-chevron-up.icon-2x
                            input.span3.pull-right.search-query(type="search", ng-model="query", placeholder="filter")
                        div.row-fluid(ng-repeat="service in services|filter:query|orderBy:'service'")
                            div.span2 {{service.service}}
                            div.span6.pull-left {{service.description}}
                            div.span2 {{service.keywords.join(', ')}}
                            div.span1.pull-right
                                a.btn(ng-click="subscribe(service.subscribed)")
                                    i(ng-class="{'icon-minus': service.subscribed, 'icon-plus': !service.subscribed}")


            div.row-fluid
                div.span12(ng-visible="data")
                    div.border-box.row-fluid.data-container(ng-repeat="(service,items) in data")
                        div.row-fluid.topic-header.navbar
                            a.brand(href="{{service}}", target="_blank") {{service}}

                            div.btn-group.pull-right(ng-init="expand=0; view='list'")
                                a.btn(ng-class="{active: !expand && view=='list'}", ng-click="expand=0;view='list'")
                                    i.icon-minus
                                a.btn(ng-class="{active: expand && view=='list'}", ng-click="expand=1;view='list'")
                                    i.icon-list
                                a.btn(ng-class="{active: view=='chart'}", ng-click="view='chart'")
                                    i.icon-bar-chart
                                a.btn(ng-class="{active: view=='settings'}", ng-click="view='settings'")
                                    i.icon-cog

                        div.row-fluid(ng-switch="view")
                            div(ng-switch-when="list")
                                item-table(expand="expand",items="items")

                            div(ng-switch-when="chart")
                                h3 chart

                            div(ng-switch-when="settings")
                                h3 settings

