body {
    padding: 0 20px 20px;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

.italic {
    font-style: italic;
}

.table td {
    vertical-align: middle;
}

.icon-1-2x {
    font-size: 1.2em;
}

i {
    transition: all 0.20s;
    color: #777;
}

i:hover {
    color: black;
}

.service-container, .data-container {
    background-color: #fafafa;
    border: 1px solid #c5d5dd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.data-container {
    margin-top: 20px;
}

.row-fluid .table {
    margin: 0;
}
.service-container {
    border-bottom: 1px solid #ccc;
}

.border-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.service-container > div {
    margin-bottom: 8px;
}

.topic-header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eee;
    margin: 0;
    font-size: 1.4em;
    padding: 5px;
    font-weight: bold;
}

.bigger {
    font-size: 1.2em;
    line-height: 1.5em;
}

.bold {
    font-weight: bold;
}