webview {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	display: none;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

a {
	color: darkblue;
	cursor: pointer;
	text-decoration: underline;
}
a:hover {
	color: black;
}
.grab {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 25px;
	z-index: 100;
}

.x {
    font-weight: bold;
    font-size: 20px;
    color: lightgrey;
    position: absolute;
    right: 4px;
    top: 0;
    cursor: pointer;
}

.x:hover {
    color: darkgrey;
}