<!DOCTYPE html>
<html ng-app ng-csp>
<head>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="DiscoveryCtrl">
	<div class="grab">
		<div class="x" ng-click="close($event);">&times;</div>
	</div>
	<h3>Servers <button ng-click="scan()">scan</button> </h3>
	<ul>
		<li ng-repeat="server in servers"><a ng-click="open()">{{server}}</a></li>
	</ul>

	<webview ng-class="{'show': selected}" src="http://{{selected}}"></webview>
</body>
</html>